<div class="col-md-12">

	<div class="row">
		<h2 class="text-center"><u>Agentes Cadastrados</u></h2>
	</div>
	
	<div class="row">
	<a href="#/create" class="btn btn-primary">Cadastrar</a>
	</div>
	
	<br/>
	
	<div class="row">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>ID</td>
					<td>Nome</td>
					<td>Data Contratacao</td>
					<td>Tempo de Servico</td>
					<td></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="agente in agentes">
				<td>{{agente.id}}</td>
				<td>{{agente.nome}}</td>
				<td>{{agente.dataContratacao}}</td>
				<td>{{agente.tempoServico}}</td>
				
				<td><a href="#/editar-agente/{{agente.id}}" class="btn btn-info btn-block">Editar</a></td>
				<td><button ng-click="deletar(agente.id)" class="btn btn-danger btn-block">Deletar</button></td>
				</tr>
				<tr ng-show="notFound" class="text-center">
					<td colspan="4">Não tem registros</td>
				</tr>
			</tbody>
		</table>
			
		</div>
</div>