<div class="row">
	<h2>Editar Agente</h2>
</div>
<div class="row">
	<form class="form-horizontal" ng-submit="atualizar(agenteEditar)">
	
		<div class="form-group">
			<input type="text"   ng-model="agenteEditar.nome" class="form-control" placeholder="Nome">
			<input type="hidden" ng-model="agenteEditar.id">
			<input type="text"   ng-model="agenteEditar.tempoServico" class="form-control" placeholder="Tempo de servico">
			<input type="text"   ng-model="agenteEditar.dataContratacao" class="form-control" placeholder="Data contratacao">
		</div>
		
		<div class="form-group">
			<button class="btn btn-success">Atualizar</button>
			<a href="#/" class="btn btn-warning">Cancelar</a>
		</div>	
		
	</form>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Work',     11],
      ['Eat',      2],
      ['Commute',  2],
      ['Watch TV', 2],
      ['Sleep',    7]
    ]);

    var options = {
      title: 'My Daily Activities'
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
  }
</script>
 

 
 	<div class="col-md-12">
<div class="row">
	<h2 class="text-center"><u>Locais e seus Limites de Velocidade</u></h2>
</div>
 
   <div id="piechart" style="width: 900px; height: 500px;"></div>
</div>



